@model __NAME__.Models.ForgotPasswordViewModel

@{
    ViewBag.page = "ForgotPassword";
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header text-center">
    <h2>@ViewBag.Title</h2>
</div>

<form id="ResetPassword_form" method="post" class="form-horizontal resetPassword_form" action="ForgotPassword" role="form" data-bind=" submit: forgotPasswordRequest">
    <div class="form-group">
        <label class="col-sm-3 control-label">Enter your registered email address :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="email" data-bind="value: forgotPasswordEmail"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-danger" onclick="window.history.go(-1)">Cancel</button>
        </div>
    </div>
</form>
<script>
    require(["/Scripts/app/Crmuser.controller.js",
             "/Scripts/app/ForgotPassword.binding.js",
             "/Scripts/app/ForgotPassword.validate.js",
             'utils'],
            function (crmuserController, appViewModel, formValidator, utils) {
                //formValidator.initViewModel(appViewModel);
                //formValidator.initValidator();
    });
</script>
