@{
    ViewBag.page = "Crmuser";
    ViewBag.Title = "Crmuser | List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<input type="hidden" id="refresh" value="no">

<h2>Crmuser</h2>

    <table class="table table-striped" >
        <thead>
            <tr>
                
            <th>
                UserName
            </th>
            <th>
                Password
            </th>
            <th>
                Salt
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Crmusers">
            <tr>
                
            <td>
                <label class='display-label' data-bind='text: UserName'></label>
            </td>
            <td>
                <label class='display-label' data-bind='text: Salt'></label>
            </td>
            <td>
                <label class='display-label' data-bind='text: Name'></label>
            </td>
            <td>
                <label class='display-label' data-bind='text: Email'></label>
            </td>
                <td><a data-bind="attr: {href: '/Crmuser/Details/' + Id}">Details</a></td>
                <td><a data-bind="attr: {href: '/Crmuser/Edit/' + Id}">Edit</a></td>
                <td><a data-bind="click: $parent.remove">Remove</a></td>
            </tr>
        </tbody>
    </table>


<a href="/Crmuser/Create" class="btn btn-primary">Add</a>
    
<script>
    require(["/Scripts/app/Crmuser.controller.js", "/Scripts/app/Crmuser.binding.js", 'moment', 'utils' ], function (crmuserController, appViewModel, moment, utils) {
        utils.spinner.show();
        var promise = crmuserController.getCrmusers();

        promise.done(function (ajaxResult) {
            _.each(ajaxResult.crmusers, function (item) {
                var model = ajaxResult.crmusers;
                
                appViewModel.add(item);
            });

            utils.spinner.hide();
        });
    });
</script>
