
@{
    ViewBag.page = "Home";
    ViewBag.Title = "ScioFramework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Scio Framework</h1>
                <p>Fast development framework</p>
                For help execute the next command in console: <strong>rake help</strong>
            </div>
        </div>
    </div>

    <br />
    <br />
</div>

